/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  border-top:solid 5px #b8a982;
}


#header a{
  background:#b8a982; 
	-webkit-box-shadow: 0px 2px 0px 0px #958864;
	-moz-box-shadow: 0px 2px 0px 0px #958864;
  box-shadow: 0px 2px 0px 0px #958864;
	text-shadow: 0px 1px #958864;
}

#header a i{
  color:#958864; 
}

.btn-success {
  background-color: #b8a982;
  *background-color: #b8a982;
  background-image: -ms-linear-gradient(top, #b8a982, #958864);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b8a982), to(#958864));
  background-image: -webkit-linear-gradient(top, #b8a982, #958864);
  background-image: -o-linear-gradient(top, #b8a982, #958864);
  background-image: -moz-linear-gradient(top, #b8a982, #958864);
  background-image: linear-gradient(top, #b8a982, #958864);
  border-color: #958864 #958864 #958864;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#b8a982', endColorstr='#958864', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #958864;
  *background-color: #958864;
}
.btn-success:active,
.btn-success.active {
  background-color: #958864 \9;
}

.featureicon{ 
  color:#b8a982; 
}
.footericon{ 
    color:#b8a982; 
}
.footericon a{ 
    color:#b8a982;
}
.footericon a:hover{ 
    color:#958864; 
}

.fancy-button{
  background-color: #958864 !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8a982", endColorstr="#958864");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b8a982), to(#958864));
  background-image: -moz-linear-gradient(top, #b8a982, #958864);
  background-image: -ms-linear-gradient(top, #b8a982, #958864);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b8a982), color-stop(100%, #958864));
  background-image: -webkit-linear-gradient(top, #b8a982, #958864);
  background-image: -o-linear-gradient(top, #b8a982, #958864);
  background-image: linear-gradient(#b8a982, #958864);
}






