<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:og="http://opengraphprotocol.org/schema/"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:og="http://opengraphprotocol.org/schema/"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:og="http://opengraphprotocol.org/schema/"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:og="http://opengraphprotocol.org/schema/"> <!--<![endif]-->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title itemprop="name">{{ page.title }}</title>
    <meta itemprop="description" name="description" content="{{ site.desc }}">
    <meta name="keywords" content="MySpass Unblocker,My Spass,Unblocker,Werbung,Ad,Ads,adblock,plus,adblock plus,entsperren,warnung,adblock warnung,sperre,aufheben,Video,Videos,entsperren,Werbung,entfernen,blockieren,entsperren">
    <meta name="viewport" content="width=device-width">
	<meta property="og:title" content="{{ page.title }}"/>
	<meta property="og:type" content="website"/>
	<meta property="og:locale" content="de_DE"/>
	<meta property="og:url" content="http://myspassunblocker.github.io/"/>
	<meta property="og:image" content="http://myspassunblocker.github.io/img/icon128.png"/>
	<meta property="og:site_name" content="{{ page.title }}"/>
	<link rel="canonical" href="http://myspassunblocker.github.io/" />
	
	
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/main.css">
    <link id="style" rel="stylesheet" href="css/style-red.css">
    
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">
	<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ljjdpiilfcgggfhpgboiebimccnbebcj">
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>